
.work-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-list-img h3{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 32px;
}
.main-nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.nav-li ul{
    display: flex;
    gap: 35px;
    list-style: none;
    
}
.nav-li ul li a{
    text-decoration: none;
    
    
}
 .orange-li{
    color:orange;
    font-weight: bold;
    font-size: 20px;
}
.skyblue-li{
    color: skyblue;
    
    font-size: 20px;
}
.lessblue-li{
    color: #05D4DF;
    font-size: 20px;
}
.lessc-li{
    font-size: 20px;
    color: #5D58EF;
}
.nav-btn{
    height: 50px;
    width: 197px;
    color: white;
    background-color: orange;
    padding: auto;
    border: none;
    border-radius: 14px;
    font-weight: 700;
    font-size: 20px;
}