
.work-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.img-school h3{
     font-weight: bold;
    font-size: 32px;
    
}
.main-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 1160px;
    height: 62px;
    margin-left: 141px;
    margin-right: 141px;
    
}
.nav-li ul{
    display: flex;
    gap: 35px;
    list-style: none;

    
}
.nav-li ul li a{
    text-decoration: none;
    
    
}
 .orange-li{
    color:orange;
    font-weight: bold;
    font-size: 20px;
}
.skyblue-li{
    color: skyblue;
    
    font-size: 20px;
}
.lessblue-li{
    color: #05D4DF;
    font-size: 20px;
}
.lessc-li{
    font-size: 20px;
    color: #5D58EF;
}
.nav-btn{
    height: 50px;
    width: 197px;
    color: white;
    background-color: orange;
    padding: auto;
    border: none;
    border-radius: 14px;
    font-weight: 700;
    font-size: 20px;
}
.img-school{
    display: flex;
    gap: 10px;
}
/*hero-section*/


    

.orange-inheading{
    color: orange;
}
.blue-inheading{
    color: #01ACFD;
}
.hero-heading h1{
    font-weight: bold;
    font-size: 56px;
}
.hero-section{
    display: flex;
    gap: 50px;
    width: 1158px;
    height: 575px;
    margin-left: 141px;
    margin-right: 141px;
    margin-bottom: 60px;
    margin-top: 20px;
}
.hero-button{
    margin-top: 20px;
}
.hero-btn{
   width: 197px;
   height: 50px;
   border: none;
   border-radius: 15px;
   background-color: black;
   color: white;
   font-weight: bold;
   font-size: 20px;
}
.hero-content{
    margin-top: 100px;
}

/*hero section ended and main sectin start */

.section1-title{
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
.all-cards{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 141px;
    margin-right: 141px;
    display: flex;
    gap: 25px;

    }
.card{
    width: 367px;
    height: 476px;
    border-radius: 20px;
   padding: 50px 35px 50px 35px;
}
.card-content{
    text-align: center;
}
.card , .card-img{
    text-align: center;
    margin-top: 50px;
}
.card1{
    border: skyblue solid 1px;
    background: linear-gradient(to top  , white , skyblue );
}
.card2{
    border: yellow solid 1px;
    background: linear-gradient(to top , white , yellow);
}
.card3{
    border: purple solid 1px ;
    background: linear-gradient(to top , white , purple );
}
.card-content h3{
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}
.card-content p{
    margin-bottom: 50px;
    font-size: 15px;
    color: #808080;
}


.card-a a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.a-co1{
    color: #64C8FF;

}
.a-co2{
  color: #F0AA00;
}
.a-co3{
    color: #8700FF;
}
.icon1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
}
.icon2{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
}
.icon{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 80px;
}
.story-title{
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 80px;
}
